@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6B53FF;
}

::-webkit-scrollbar-track {
  background: transparent;
}

  .loader {
    margin: auto;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      

:root {
  --primary-dark-color : #2A2C37;
  --secondary-dark-color : #3F4250;
  --button-background : linear-gradient(90deg,#8d49f7,#6b53ff);
  --hero-section-background : linear-gradient(90deg,#5318eb,#ab6ef9);
  --special-color : #6B53FF;
  --light-color : #ffffff;
}

.container {
  width: 100%;
  overflow: clip;
  background-color: #ffffff;
  background: linear-gradient(to top, #FFFFFF 65%, #F4F4F4 100%);
}

/* homepage */

.home-loader-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hero section */

.hero-section-wrapper {
  width: 100%;
  height: 150vh;
  background: var(--hero-section-background);
  position: relative;
  overflow: hidden;
  clip-path : circle(150vw at 50% calc(100% - 150vw - 20vw));
}


.hero-section-wrapper-shadow {
  filter: drop-shadow(-10px 30px 60px #a973df);
  user-select: none;
  z-index: 1;
}

.img1 {
  position: absolute;
  bottom: 250px;
  left: -150px;
  z-index: 2;
  opacity: 0.7;
}

.img2 {
  position: absolute;
  bottom: 450px;
  left: 150px;
  z-index: 1;
  opacity: 0.5;
}

.img3 {
  position: absolute;
  top: -200px;
  right: -300px;
  z-index: 2;
  opacity: 0.5;
}

.img4 {
  position: absolute;
  top: 80px;
  right: 80px;
  z-index: 1;
  opacity: 0.5;
}

.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light-color);
  transform: translate(0px, 20px);
  animation: swipe-up linear forwards;
  animation-duration: .3s;
}

@keyframes swipe-up {
  from{
    opacity: .4;
  }
  to{
    transform: translate(0px, -20px);
    opacity: 1;
  }
}

.hero-section-heading {
  text-align: center;
  margin-top: 80px;
  font-size: 4rem;
  line-height: normal;
}

.hero-section-para {
  width: 40%;
  font-size: 1.3rem;
  color: #e9e9e9;
  text-align: center;
  margin-block: 35px;
  line-height: 40px;
}

.hero-section-box {
  padding: 30px;
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  color: var(--secondary-dark-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.hero-section-box h1 {
  color: var(--primary-dark-color);
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.hero-section-box p {
  color: var(--secondary-dark-color);
  margin-block: 20px;
  text-align: center;
}


.ui-btn {
  color: var(--light-color);
  margin: auto;
  font-family: inherit;
  font-size: 25px;
  padding: 10px 25px;
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(345, 255, 255, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.ui-btn:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: white;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.ui-btn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.ui-btn span {
  display: flex;
  align-items: center;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 500;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.ui-btn:hover span {
  color: #6B53FF;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


/* step section */

.steps-section-wrapper {
  user-select: none;
  width: 80%;
  margin: 30px auto auto;
  scale: .8;
  opacity: 0.4;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}

.steps-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -200px;
  padding: 100px 0;
  background: white;
  border-radius: 20px;
  padding: 50px 40px;
}

.steps-section-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.step {
  display: flex;
  align-items: center;
  gap: 50px;
}

.step img {
  padding: 10px;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.step h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.step-line {
  width: 1px;
  height: 60px;
  background-color: black;
  margin-left: 35px;
}

.steps-section-right {
  width: 50%;
  /* background-image: url("./assets/benefit.avif"); */
  background-image: cover;
  border-radius: 30px;
}

.steps-section-right img {
  width: 100%;
}

/* Numbers section   */


.numbers-section-wrapper {
  user-select: none;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  padding: 30px 0;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  opacity: 0.4;
  transform: translate(0px, 40px) scaleX(0.85);
  animation: trans-up linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes trans-up {
  to {
    opacity: 1;
    transform: translate(0px, -40px) scaleX(1);
  }
}

.number {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.logo-img path {
  fill: #000;
}

.number img {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

.number h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--special-color);
}

.number h3 {
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--secondary-dark-color);
  text-align: center;
}

/* Home Page Info Section */

.home-info-section-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding-bottom: 100px;
}

.home-info-section1 {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.home-info-section-left1 {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items:flex-start;
  padding: 40px 0;
  transform: translate(-30px);
  animation: swipe-right linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes swipe-right {
  to {
    transform: translate(30px);
  }
}

.home-info-section-left1 button:hover {
  background: var(--hero-section-background);
}

.home-info-section-left1 h1 {
  font-size: 2.2rem;
  font-weight: 500;
  /* margin-top: 80px; */
}

.home-info-section-left1 p {
  color: var(--secondary-dark-color);
  font-weight: 100;
  font-size: large;
}

.home-info-section-right1 {
  background-image: url("./assets/house2.png");
  width: 45%;
  /* height: 500px; */
  border-radius: 20px;
  background-size: cover;
  transform: translate(30px);
  animation: swipe-left linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes swipe-left {
  to {
    transform: translate(-30px);
  }
}

.home-info-section2 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.home-info-section-left2 {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items:flex-start;
  padding: 40px 0;
  transform: translate(30px);
  animation: swipe-left linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

.special-btn {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  background: var(--button-background);
  color: var(--light-color);
  cursor: pointer;
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.special-btn:hover {
  background: var(--hero-section-background);
  scale: 0.95;
}

.home-info-section-left2 h1 {
  margin-bottom: 10px;
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 30px;
}

.home-info-section-left2 h4{
  font-weight: 500;
  font-size: large;
  line-height: 1;
}

.home-info-section-right2 {
  background-image: url("./assets/house3.png");
  width: 45%;
  background-size: cover;
  border-radius: 20px;
  transform: translate(-30px);
  animation: swipe-right linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

.home-info-section-left2 p {
  color: var(--secondary-dark-color);
  font-weight: 100;
  font-size: large;
}

/* Footer */

.footer-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 70px 0px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer-left img {
  width: 200px;
  height: 100px;
}

.footer-left p {
  font-size: 1.2rem;
  color: var(--secondary-dark-color);
  font-weight: 100;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-middle a {
  text-decoration: none;
  color: var(--secondary-dark-color);
}

.footer-middle a:hover {
  color: var(--primary-dark-color);
  text-decoration: underline;
}


.footer-middle h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-dark-color);
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer-right h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-dark-color);
}

.footer-logos {
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footer-logos span {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.footer-logos span:hover {
  opacity: 1;
  scale: 1.2;
}

/* Signup page */

.signup-box{
  width: 40%;
  padding: 60px 0px;
  border-radius: 15px;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.signup-box img {
  width: 200px;
  height: 50px;
}

.signup-box h2 {
  font-weight: 500;
  font-size: large;
  color: var(--special-color);
}

.signup-box form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.signup-box input {
  width: 60%;
  border: 2px solid rgb(233, 233, 233);
  padding: 10px 10px;
  font-size: small;
  font-weight:lighter;
  letter-spacing: 1px;
  border-radius: 10px;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-box input:focus {
  outline: none;
  border: 2px solid;
  border-color: var(--special-color);
}

.signup-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.signup-button button{
  width: 60%;
}

.signup-button-link {
  color: var(--special-color);
  text-decoration: none;
}

.signup-button-link:hover {
  color: black;
  text-decoration: underline;
}

.signup-pass {
  width: 100%;
  text-align: center;
  position: relative;
}

.eye-signup {
  position: absolute;
  right: 120px;
  top: 8px;
}

/* Verify Email Section  */

.verify-email-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 40%;
  padding: 60px 0px;
  border-radius: 15px;
  background-color: var(--light-color);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  user-select: none;
}

.verify-email-box img {
  width: 200px;
  height: 50px;
}

.verify-email-box h1 {
  font-weight: 500;
  font-size: large;
}

.verify-email-box p {
  width: 70%;
}

.otp-input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 3rem;
  border: 2px solid rgb(233, 233, 233);
  border-radius: 5px;
  user-select: none;
  caret-color: transparent;
}

.verify-email-box form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.verify-email-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.resend-btn {
  background-color: transparent;
  width: 60%;
  border: none;
  font-size: medium;
  text-decoration: none;
  color: var(--special-color);
  cursor: pointer;
} 

.resend-btn:hover {
  color: black;
  text-decoration: underline;
}

.resend-btn:hover {
  opacity: 0.6;
}

/* Backgroung Images  */

.imge1 {
  position: absolute;
  bottom: -100px;
  left: -150px;
  z-index: 2;
  opacity: 0.7;
}

.imge2 {
  position: absolute;
  bottom: 200px;
  left: 150px;
  z-index: 1;
  opacity: 0.5;
}

.imge3 {
  position: absolute;
  top: -200px;
  right: -200px;
  z-index: 2;
  opacity: 0.5;
}

.imge4 {
  position: absolute;
  top: 80px;
  right: 180px;
  z-index: 1;
  opacity: 0.5;
}


/* Login Page Section  */

.auth-wrapper {
  width: 100%;
  height: 100vh;
  background: var(--hero-section-background);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.auth-box {
  width: 40%;
  padding: 60px 0px;
  border-radius: 15px;
  background-color: var(--light-color);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.login {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 60%;
  border: none;
}

.login div {
  width: 100%;
}

.login input {
  width: 100%;
  border: 2px solid rgb(233, 233, 233);
  padding: 20px 15px;
  font-size: medium;
  font-weight:lighter;
  letter-spacing: 1px;
  border-radius: 10px;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

input:focus {
  outline: none;
  border: 2px solid;
  border-color: var(--special-color);
}

.login-pass {
  position: relative;
}

.eye-login {
  position: absolute;
  top: 18px;
  right: 20px;
}

.login-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button button {
  width: 100%;
}

.login-button-link {
  color: var(--special-color);
  text-decoration: none;
}

.login-button-link:hover {
  color: black;
  text-decoration: underline;
}

.login img {
  width: 200px;
  height: 50px;
}

.login h2 {
  font-weight: 500;
  font-size: larger;
  color: var(--special-color);
}

/* Tab section  */

.tab-box {
  display: flex;
  width: fit-content;
  gap: 5px;
  background-color: var(--light-color);
  padding: 4px 4px;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-block: 10px;
  user-select: none;
}

.tab {
  text-align: center;
  font-size: medium;
  min-width: 120px;
  padding: 7px 0;
  border-radius: 20px;
  cursor: pointer;
}

/* Forgot Password Page  */

.forgot-password-box {
  width: 40%;
  padding: 60px 0px;
  border-radius: 15px;
  background-color: var(--light-color);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.forgot-password-box form {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.forgot-password-box img {
  width: 200px;
  height: 50px;
}

.forgot-password-box h2 {
  width: 100%;
  color: var(--special-color);
  font-weight: 500;
  font-size: larger;
  text-align: center;
}

.forgot-password-box p {
  width: 100%;
  text-align: center;
}

.forgot-password-box input {
  width: 100%;
  border: 2px solid rgb(233, 233, 233);
  padding: 20px 15px;
  font-size: medium;
  font-weight:lighter;
  letter-spacing: 1px;
  border-radius: 10px;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

.forgot-password-box input:focus {
  outline: none;
  border: 2px solid;
  border-color: var(--special-color);
}

.forgot-password-box button {
  width: 100%;
}


.forgot-password-link {
  color: var(--special-color);
  text-decoration: none;
}

.forgot-password-link:hover {
  color: black;
  text-decoration: underline;
}

/* Update Password Page   */

.update-password-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 40%;
  padding: 60px 0px;
  border-radius: 15px;
  background-color: var(--light-color);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.update-password-box img {
  width: 200px;
  height: 50px;
}

.update-password-box h2 {
  font-weight: 500;
  font-size: larger;
  color: var(--special-color);
}

.update-password-box form {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.update-password-box div {
  width: 100%;
  border: none;
  position: relative;
}

.update-password-box span {
  position: absolute;
  right: 20px;
  top: 15px;
}

.update-password-box input {
  width: 100%;
  border: 2px solid rgb(233, 233, 233);
  padding: 15px 10px;
  font-size: medium;
  font-weight:lighter;
  letter-spacing: 1px;
  border-radius: 10px;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

.update-password-box input:focus {
  outline: none;
  border: 2px solid;
  border-color: var(--special-color);
}

.update-password-box button {
  width: 100%;
  background: var(--button-background);
  color: var(--light-color);
  font-weight: 500;
  font-size: large;
  padding: 10px 0px;
  border-radius: 10px;
  border: none;
  user-select: none;
}

.update-password-box button:hover {
  opacity: 0.8;
}

/* Navbar Light  */

.navbar-wrapper-light {
  position:sticky;
  top: 0px;
  width: 100%;
  height: 70px;
  background: var(--light-color);
  z-index: 3;
  user-select: none;
}

.navlink-light {
  text-decoration: none;
  color: var(--primary-dark-color);
  font-size: 1.1rem;
  font-weight : lighter;
  cursor: pointer;
}

.nav-button-login-light {
  min-width: 95px;
  padding: 8px 20px;
  font-weight: 400;
  font-size: medium;
  border-radius: 6px;
  border: 1px solid var(--special-color);
  user-select: none;
  background-color: var(--light-color);
  color: var(--special-color);
  transition: .1s ease-in-out;
  cursor: pointer;
}

.nav-button-login-light:hover {
  border: 2px solid var(--special-color);
}

.nav-button-signup-light {
  min-width: 95px;
  padding: 8px 20px;
  font-weight: 400;
  font-size: medium;
  border-radius: 6px;
  border: none;
  user-select: none;
  background: var(--button-background);
  color: var(--light-color);
  cursor: pointer;
}

.nav-button-signup-light:hover {
  background: var(--hero-section-background);
}

.nav-dashboard-wrapper {
  display: none;
}

.nav-dashboard {
  font-size: 22px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

/* Navbar Section  */

.navbar-wrapper {
  position:sticky;
  top: 0px;
  width: auto;
  height: 70px;
  background: var(--hero-section-background);
  z-index: 30;
  user-select: none;
}

.navbar-wrapper-shadow {
  transition: .2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navbar {
  max-width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}


.navbar-img {
  cursor: pointer;
  width:150px;
  height: 100%;
}

.humburger {
  color: white;
  display: none;
  cursor: pointer;
}

.humburger-light {
  color: black;
  display: none;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 70px;
  height: 100%;
}

.navlink {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight : lighter;
  cursor: pointer;
}

.navbar-buttons {
  height: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-button-dark {
  min-width: 95px;
  padding: 8px 20px;
  font-weight: 500;
  font-size: medium;
  border: none;
  border-radius: 6px;
  user-select: none;
  background-color: var(--light-color);
  color: var(--special-color);
  transition: .1s ease-in-out;
  cursor: pointer;
}

.nav-button-dark:hover {
  background-color: whitesmoke;
}

.profile-img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  cursor: pointer;
  transition: border 0.1s ease-in-out;
}

.profile-img:hover {
  border: 4px solid var(--special-color);
}

/* Featured Section  */

.featured-section-heading {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}

.featured-section-heading div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.featured-section-heading h1 {
  font-size: 2rem;
  font-weight: 500;
}

.featured-section-explore-link {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  font-size: large;
  color: var(--primary-dark-color);
}

.featured-section-heading div:hover {
  color: var(--special-color);
}

.featured-section-heading div:hover .featured-section-explore-link {
  color: var(--special-color);
}

.slider-container {
  width: 80%;
  margin: auto;
  padding: 50px 0;
}

.card-wrap {
  width: 30%;
  overflow: hidden;
  padding: 10px 0 0;
}

.slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.slider-btn button {
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6b53ff;
  border: none;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.slider-btn button:hover {
  background-color: #6b53ff;
  color: white;
}

/* Card  */

.card {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 340px;
  height: 420px;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  scale: 1;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.card:hover {
  scale: 1.01;
}

.card-img {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  scale: 1;
  transition: 0.3s ease-in-out;
}

.card:hover .card-img img {
  scale: 1.05;
}

.card-info {
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding:10px;
}

.card-price {
  font-size: xx-large;
  /* margin: 0 auto; */
}

.card-price span {
  color: var(--secondary-dark-color);
  font-size: small;
}

.card-location {
  font-size: larger;
  font-weight: 200;
}

.card-property-details {
  color: var(--secondary-dark-color);
  display: flex;
  gap: 10px;
  font-size: medium;
}

.card-property-details span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-button {
  font-size: larger;
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  background: var(--button-background);
  color: var(--light-color);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-delete-btn {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  border: 1px solid red;
  border-radius: 7px;
  padding: 0px 10px;
  font-size: 2rem;
}

.card-delete-btn:hover {
  background-color: red;
  color: white;
  border: none;
}

.card-button:hover {
  background: var(--hero-section-background);
}

/* Dashboard   */

.dashboard-wrapper {
  height: max-content;
  margin: 0;
  padding: 0;
}
.dashboard {
  margin: 20px auto;
  display: flex;
  height: max-content;
  width: 95%;
  background-color: rgb(247, 247, 247);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 30px;
  overflow: hidden;
  /* padding: 10px 0; */
}

.nav-logout {
  display: none;
}

.sidebar-wrapper {
  padding: 50px 0;
  min-width: 220px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--light-color);
}

.sidebar-active-button {
  text-decoration: none;
  color: var(--light-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 150px;
  text-align: center;
  border: none;
  padding: 10px 15px;
  font-size: medium;
  font-weight: 400;
  border-radius: 15px;
  background: var(--button-background);
}

.sidebar-inactive-button {
  background-color: var(--light-color);
  text-decoration: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: var(--primary-dark-color);
  text-align: center;
  width: 150px;
  border: none;
  padding: 10px 15px;
  font-size: medium;
  font-weight: 400;
  border-radius: 15px;
}

.sidebar-inactive-button:hover {
  color: var(--special-color);
}

/* My profile    */

.my-profile-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.my-profile-wrapper h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.my-profile-details {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 40px;
  /* background-color: white; */
}

.my-profile-main {
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  background-color: white;
  /* border: 3px solid black; */
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.my-profile-main img {
  width: 250px;
  height: 250px;
  border-radius: 125px;
}

.my-profile-main-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my-profile-main-details h2 {
  font-size: xx-large;
  font-weight: 500;
  color: var(--special-color);
}

.my-profile-main-details h3 {
  font-size: x-large;
  font-weight: 500;
}

.my-profile-main-details div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.my-profile-main-details p {
  font-size: smaller;
}

.my-profile-additional-details {
  margin: auto;
  padding: 40px 30px;
  width: 95%;
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  background-color: white;
  border-radius: 20px;
}



.my-profile-additional-details h2 {
  font-size: xx-large;
  font-weight: 500;
}

.my-profile-additional-details-table {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px;
}

.my-profile-additional-details-left {
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.my-profile-additional-details-left div {
  color: gray;
}

.profile-edit-button {
  font-size: medium;
  padding: 10px 40px;
  border-radius: 10px;
  border: 1px solid rgb(222, 222, 222);
  background-color: white;
  color: var(--primary-dark-color);
  cursor: pointer;
}

.profile-edit-button:hover {
  border: 1px solid var(--primary-dark-color);
}

/* My listings  */

.my-listings-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.my-listings-wrapper h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.my-listings {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Settins  */

.settings-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 30px;
}

.settings-option {
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.settings-option-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-option-left h3 {
  font-size: large;
  font-weight: 400;
}

.settings-option-left p {
  font-size: small;
  color: gray;
  font-weight: 100;
}

.delete-profile-button {
  font-size: medium;
  color: rgb(236, 74, 74);
  background-color: var(--light-color);
  padding: 10px 30px;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 10px;
}

.delete-profile-button:hover {
  border: 1px solid var(--primary-dark-color);
}

/* Edit Profilr photo */

.edit-profile-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  align-items: center;
  gap: 30px;
}

.edit-profile-wrapper h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.edit-profile-picture {
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 20px;
  /* background-color: var(--light-color); */
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  justify-content: center;
}

.edit-profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.edit-profile-picture div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 0 0;
}

.edit-profile-picture div p {
  font-size: larger;
  font-weight: 400;
}

.edit-profile-picture div input {
  visibility: hidden;
}

.edit-profile-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding:  50px 10px;
  /* background-color: var(--light-color); */
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  align-items: center;
}

.edit-profile-details {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.edit-profile-details-column {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-profile-details-column-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.edit-profile-details-column-data label {
  font-weight: 300;
}

.edit-profile-details-column-data input, select {
  user-select: none;
  font-size: medium;
  padding: 15px 0;
  text-align: center;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 15px;
  color: var(--secondary-dark-color);
}

.edit-profile-detail-buttons {
  padding: 0 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}


/* Change Password   */

.change-password-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 30px;
}

.change-password-heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.change-password-heading h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.change-password {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.change-password-data {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.change-password-data label {
  font-size: medium;
  font-weight: 200;
}

.change-password-data div {
  display: flex;
  align-items: center;
  width: 50%;
  position: relative;
}

.change-password-data input {
  width: 100%;
  user-select: none;
  font-size: medium;
  padding: 15px 0px;
  text-align: center;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 15px;
  color: var(--secondary-dark-color);
  
}

.change-password-data div span {
  position: absolute;
  right: 20px;
}

.change-password-buttons {
  display: flex;
  gap: 20px;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Create Listing Property  */

.create-listing-wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  align-items: center;
  gap: 20px;
}

.create-listing-wrapper h1 {
  font-size: 2rem;
  font-weight: 500;
  padding: 20px 0;
}

.create-listing-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.create-listing-data label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  font-size: large;
  align-items: flex-start;
  text-align: center;
}

.create-listing-data label input, textarea, select {
  width: 100%;
  user-select: none;
  font-size: large;
  padding: 15px 0px;
  text-align: center;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 15px;
  color: var(--secondary-dark-color);
}

#inp {
  display: none;
}

.create-listing-data label button {
  width: 100%;
}

/* Confirmation Modal  */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(20px);
  z-index: 3;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(15, 15, 15, 0.3);
  border-radius: 15px;
  padding: 30px;
  align-items: center;
}

.modal-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.modal-text h2 {
  font-size: 2rem;
  font-weight: 500;
}

.modal-text p {
  font-size: medium;
  font-weight: 100;
}

.modal-buttons {
  display: flex;
  gap: 20px;
}

.modal-button-1 {
  font-size: larger;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 10px;
  background:var(--button-background);
}

.modal-button-2 {
  font-size: larger;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
}

/* Propeties Page  */

.properties-filter-section-wrapper {
  width: 90%;
  margin: 50px auto;
  background-image: url("./assets/filter.avif");
  border-radius: 10px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.properties-filter-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;
}

.properties-sort-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 10px 60px;
}

.properties-sort-section h2 {
  font-size: 1.7rem;
  font-weight: 500;
}

.filter-select {
  padding: 10px 20px;
}

.properties-filter-section h2 {
  margin: auto;
  font-size: larger;
  font-weight: 400;
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 70%;
  margin: auto;
  background-color: black;
  text-align: center;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: large;
  color: white;
  cursor: pointer;
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.filter-btn:hover {
  scale: 0.95;
}

#checklist {
  --check: #44319b;
  --disabled: var(--special-color);
  --width: 100px;
  --height: 180px;
  --border-radius: 10px;
  background: var(--light-color);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  position: relative;
  padding: 0px 85px;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  justify-content: center;
}

#checklist label {
  color: var(--primary-dark-color);
  font-weight: 100;
  font-size: large;
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
  margin-right: 20px;
}

#checklist label::before, #checklist label::after {
  content: "";
  position: absolute;
}

#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}

#checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}

#checklist input[type="checkbox"] {
  --webkit-appearance: none;
  --moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--light-color);
  display: grid;
  align-items: center;
  margin-right: 20px;
}

#checklist input[type="checkbox"]::before, #checklist input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}

#checklist input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}

#checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}

#checklist input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked + label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}

#checklist input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }

  100% {
    padding-right: 4px;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }

  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }

  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }

  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}

@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0, 14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0, -14px -8px 0 0px #4f29f0;
  }
}


.properties-section-wrapper {
  width: 90%;
  min-height: 90vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Property Detail Section   */

.detail-property-bg {
  width: 100%;
  background: var(--light-color);
}

.detail-property-wrapper {
  width: 80%;
  margin: auto;
  padding: 30px 0;
  overflow: clip;
}

.property-image-section {
  width: 100%;
  margin: auto;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 30px;
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 30px;
}

.active-image {
  /* width: 600px;
  height: 600px; */
  width: 100%;
  height: 600px;
  background-size: cover;
  /* padding: 20px; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 30px;
  background-color: white;
}

.active-image img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.non-active-images {
  max-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  padding-right: 22px;
  border-radius: 15px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  overflow: scroll;
  overflow: hidden;
  background-color: white;
}

.non-active-images img {
  padding: 5px;
  cursor: pointer;
  width: 100px;
  height: 80px;
  border-radius: 10px;
}

.property-details-section {
  display: flex;
  /* flex-direction: column; */
  gap: 40px;
  border-radius: 30px;
  font-size: larger;
  padding: 30px;
  align-items: flex-start;
  margin-block: 60px;
  background : transparent;
  background-color: whitesmoke;
}

.property-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 2px solid black; */
  border-radius: 20px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  gap: 15px;
  padding: 40px;
  background-color: white;
}

.property-details-section-left {
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  background : transparent;
}

.property-details-price {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
}

.property-details-heading {
  width: 100%;
  display: flex;
  align-items: flex-start;
  color: var(--special-color);
}

.property-details div span {
  font-size: large;
}

.property-details h2 {
  font-weight: 300;
  font-size: 1.5rem;
}

.property-details h3 {
  font-weight: 200;
  font-size: 1.3rem;

}

.property-details p{
  font-weight: 100;
  font-size: 1.3rem;
}

.property-details h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.seller-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  border-radius: 20px;
  /* border: 2px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 40px;
  background-color: white;
}

.seller-details h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: var(--special-color);
}

.seller-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.seller-detail-left {
  width: 200px;
  height: 200px;
  background-size: cover;
  overflow: hidden;
}

.seller-detail-left img {
  width: 200px;
  border-radius: 100px;
}

.seller-detail-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.seller-detail-right h2 {
  font-weight: 400;
  color: var(--special-color);
}

.seller-detail-right p {
  font-size: large;
  font-weight: 200;
}

.property-details-section-right {
  width: 40%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  align-items: flex-start;
  padding: 40px 20px;
  position: sticky;
  top: 100px;
  background-color: white;
  border-radius: 20px;
}

.property-details-section-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.property-details-section-right h1 {
  font-size: 2.5rem;
  color: var(--special-color);
  font-weight: 500;
}

.property-details-section-right input {
  width: 90%;
  user-select: none;
  font-size: medium;
  padding: 15px 30px;
  text-align: start;
  border: 2px solid black;
  border-radius: 15px;
  color: var(--secondary-dark-color);
}

.send-btn {
  font-family: inherit;
  font-size: 20px;
  background: var(--button-background);
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.send-btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.send-btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.send-btn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send-btn:hover svg {
  transform: translateX(3.4em) rotate(45deg) scale(1.1);
}

.send-btn:hover span {
  transform: translateX(10em);
}

.send-btn:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


/* Filter modal  */

.filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* backdrop-filter: blur(20px); */
  background-color: rgba(36,34,38,0.8);;
  z-index: 3;
}

.filter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 15px;
  padding: 0px 30px 0px;
  align-items: center;
  height: 96vh;
  overflow-y: scroll;
}

.filter::-webkit-scrollbar {
  background-color: transparent;
  width: 15px;
}
.filter::-webkit-scrollbar-track {
  background-color: transparent;
}
.filter::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 4px solid transparent;
  background-color: rgba(0,0,0,0.2);
  background-clip: content-box;
}

.filter-heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0px;
}

.filter-heading h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7rem;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 0px;
}

.filter-close-btn {
  font-size: 2.5rem;
  padding: 5px;
  border-radius: 10px;
  opacity: .7;
}

.filter-close-btn:hover {
  background-color: whitesmoke;
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: 90%;
  margin: auto;
}

.filter-form-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-form-bottom label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  font-size: large;
  font-weight: 500;
}

.filter-form-bottom input {
  padding: 10px;
  font-size: medium;
  border: 1px solid rgb(126, 125, 125);
  border-radius: 8px;
  width: 300px;
}

.filter-price {
  display: flex;
  gap: 20px;
}

hr {
  width: 90%;
  margin: 20px;
  border: 0.05px solid #cac9c9b3;
}

.filter-form-top {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: larger;
  font-weight: 500;
}

.filter-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0px;
  background-color: white;
  padding: 20px 0px;
}

.clear-filter-btn {
  padding: 13px 10px;
  font-size: medium;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.clear-filter-btn:hover {
  background-color: whitesmoke;
}

.search-filter-btn {
  padding: 13px 25px;
  font-size: medium;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* About Page   */

.about-wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: clip;
}

.about-hero-wrapper {
  width: 100%;
  background: var(--hero-section-background);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.about-hero-wrapper h1 {
  color: var(--light-color);
  font-size: 5rem;
  font-weight: 900;
  padding-top: 50px;
  text-align: center;
}

.about-hero-wrapper p {
  width: 650px;
  color: var(--light-color);
  font-size: large;
  font-weight:lighter;
  line-height: 2;
  text-align: center;
}

.about-hero-wrapper img {
  width: 100%;
}

.about-vision-wrapper {
  width: 100%;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.about-vision-wrapper h1 {
  color: var(--primary-dark-color);
  font-size: 5rem;
  font-weight: 900;
  padding-top: 100px;
  padding-bottom: 20px;
}

.about-vision-wrapper p {
  width: 650px;
  color: var(--secondary-dark-color);
  font-size: larger;
  font-weight:lighter;
  line-height: 2;
  text-align: center;
  padding: 50px 0px;
}

.about-vision-wrapper img {
  width: 70%;
}

.contact-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
  /* height: 100vh; */
  background: url("./assets/background.webp");
}

.contact-form {
  width: 40%;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 20px;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.contact-form h1 {
  color: var(--primary-dark-color);
  font-size: 2rem;
  font-weight: 400;
}

.contact-form p {
  font-size: large;
  font-weight: 100;
  color: var(--secondary-dark-color);
  padding-bottom: 30px;
  text-align: center;
}

.contact-form input {
  width: 70%;
  border: 2px solid rgb(233, 233, 233);
  padding: 20px 15px;
  font-size: medium;
  font-weight:lighter;
  letter-spacing: 1px;
  border-radius: 10px;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-form input:focus {
  outline: none;
  border: 2px solid;
  border-color: var(--special-color);
}

.contact-form textarea {
  width: 70%;
  text-align: start;
  letter-spacing: 1px;
  font-size: medium;
  padding: 15px 20px;
  height: 100px;
  border-radius: 10px;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-form button:hover {
  background: var(--hero-section-background);
}

.about-benefit-wrapper {
  width: 80%;
  display: flex;
  margin: auto;
  padding: 100px 20px;
  justify-content: space-around;
}

.about-benefit-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.about-benefit-left h1 {
  font-size: 3rem;
  font-weight: 500;
  padding: 20px 0px;
  color: var(--primary-dark-color);
}

.about-benefit-left li {
  font-size: large;
  font-weight: 200;
  line-height: 40px;
  color: var(--secondary-dark-color);
}

.about-benefit-right {
  width: 45%;
}

.subscription-section-wrapper {
  background: url("./assets/background.webp");
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 100px 0 0;
}

.subscription-section-wrapper h1 {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--light-color);
  text-align: center;
}

.subscription-section-wrapper button{
  width: fit-content;
  padding: 10px 35px;
  font-size: 1.2rem;
  font-weight: 400;
  background: linear-gradient(90deg,#ffd02c,#ff9e2c);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.subscription-section-wrapper button:hover {
  background: linear-gradient(90deg,#ff9e2c,#ffd02c);
  scale: 0.95;
}

.ss {
  width: 60%;
  display: flex;
}

.subscription-section-wrapper img {
  margin: auto;
  width: 70%;
}

/* Plan Page */

.plan-section-wrapper {
  position: relative;
  overflow: hidden;
  padding: 50px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  background: var(--hero-section-background);
}

.plan-heading {
  font-size: 5rem;
  color: var(--light-color);
  text-align: center;
}

.pricing-discount {
  font-weight: 500;
  color: yellow;
}

.pricing-cards {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 2;
}

.pricing-card {
  background-color: var(--light-color);
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  padding: 30px 30px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.pricing-card h3 {
  font-weight: 400;
  color: var(--secondary-dark-color);
}

.standard {
  color: var(--primary-dark-color);
}

.premium {
  color: var(--special-color);
}

.gold {
  color: gold;
}

.price-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price-card h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.price-card p {
  font-size: small;
}

.pricing-card p {
  font-weight: 300;
}

.pricing-btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: var(--light-color);
  background: var(--button-background);
  font-weight: 400;
  font-size: larger;
  cursor: pointer;
}

.pricing-btn:hover {
  background: var(--hero-section-background);
}
