@media (min-width: 1700px) {

  .img1, .img2, .img3, .img4 {
    scale: 1.2;
  }

  .img1 {
    bottom: 400px;
    left: -100px;
    opacity: 0.5;
  }

  .img2 {
    bottom: 700px;
  }

  .img3 {
    right: -200px;
    top: -150px;
  }

  .img4 {
    right: 200px;
    top: 150px;
  }

  .hero-section {
    gap: 70px;
  }

  .hero-section-heading {
    font-size: 5rem;
  }

  .hero-section-para {
    width: 50%;
    font-size: 1.6rem;
  }

  .hero-section-box {
    scale: 1.2;
  }

  .steps-section-left {
    gap: 20px;
  }

  .home-info-section1, .home-info-section2 {
    justify-content: space-around;
  }

  .home-info-section-right1 , .home-info-section-right2{
    width: 500px;
    height: 500px;
  }

  .properties-section-wrapper {
    width: 70%;
    gap: 50px;
  }

  .properties-filter-section-wrapper {
    margin: 50px auto 0;
  }

  .properties-sort-section {
    padding: 0;
  }


  /* .plan-section-wrapper {
    margin: auto;
    max-width: 1440px;
  } */

  /* .about-wrapper {
    margin: auto;
    max-width: 1440px;
  } */

  .detail-property-wrapper {
    max-width: 1400px;
    margin: auto;
  }

  /* .dashboard-wrapper {
    max-width: 1440px;
    margin: auto;
  } */
}

@media (max-width: 1100px) {
  .humburger {
    display: block;
  }

  .humburger-light {
    display: block;
  }

  .navbar-wrapper {
    height: 80px;
  }

  .navbar-wrapper-light {
    height: 80px;
  }

  .navbar-img {
    width: 200px;
  }

  .nav-button-dark,
  .nav-button-login-light,
  .nav-button-signup-light {
    font-size: 20px;
    padding: 12px 30px;
  }

  .navbar-links {
    padding-block: 50px;
    gap: 30px;
    position: absolute;
    left: -100%;
    top: 70px;
    width: 100%;
    color: var(--primary-dark-color);
    background-color: var(--light-color);
    flex-direction: column;
    height: 100vh;
    transition: 0.2s ease-in-out;
  }

  .navlink:focus,
  .navlink:hover {
    color: var(--primary-dark-color);
  }

  .navlink:after {
    background-color: var(--primary-dark-color);
    bottom: -3px;
  }

  .navbar-links.active {
    left: 0;
  }

  .navlink,
  .navlink-light {
    font-size: 1.4rem;
    color: var(--primary-dark-color);
  }

  .img1,
  .img2,
  .img3,
  .img4 {
    display: none;
  }

  .hero-section-wrapper-shadow {
    filter: none;
    z-index: 0;
  }
  .hero-section-wrapper {
    clip-path: none;
    height: max-content;
    padding-bottom: 50px;
  }

  .hero-section-heading {
    margin-top: 40px;
    font-size: 50px;
  }

  .hero-section-para {
    font-size: 20px;
    width: 600px;
  }

  .hero-section-box {
    width: 700px;
  }

  .hero-section-box h1 {
    font-size: 1.8rem;
  }

  .hero-section-box button span {
    font-size: 1.3rem;
  }

  .steps-section-wrapper {
    margin: 230px auto 0px;
    width: 90%;
  }

  .step img {
    width: 50px;
    height: 50px;
  }

  .step h3 {
    font-size: 1.2rem;
  }

  .step-line {
    margin-left: 25px;
  }

  .steps-section-right img {
    width: 100%;
  }

  .number {
    width: 24%;
  }

  .number img {
    width: 50px;
    height: 50px;
  }

  .number h1 {
    font-size: 2.2rem;
  }

  .numbers-section-wrapper {
    margin-top: 50px;
  }

  .slider-container {
    width: 90%;
  }

  .home-info-section1 {
    margin-top: 100px;
  }

  .home-info-section-left1 h1 {
    font-size: 1.8rem;
  }

  .home-info-section-left1, .home-info-section-left2 {
    animation: none;
    transform: translate(0px);
  }

  .home-info-section-right1 {
    width: 50%;
    animation: none;
    transform: translate(0px);
  }

  .home-info-section-right2 {
    width: 50%;
    animation: none;
    transform: translate(0px);
  }

  .footer-wrapper {
    flex-direction: column;
    gap: 50px;
  }

  .footer-left {
    gap: 0px;
  }

  /* Auth   */

  .imge1,
  .imge2,
  .imge3,
  .imge4 {
    display: none;
  }

  .auth-box,
  .forgot-password-box,
  .signup-box,
  .verify-email-box,
  .update-password-box {
    width: 60%;
  }

  /* Plan   */

  .pricing-cards {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card {
    width: 60%;
  }

  /* About Page  */

  .about-benefit-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-benefit-left {
    width: 80%;
  }

  .about-benefit-right {
    width: 70%;
  }

  .contact-form {
    width: 70%;
  }

  .about-hero-wrapper h1 {
    font-size: 60px;
    font-weight: 500;
  }

  .about-hero-wrapper p {
    width: 70%;
  }

  .about-vision-wrapper h1 {
    font-size: 60px;
    font-weight: 500;
  }

  .about-vision-wrapper img {
    width: 70%;
  }

  .about-vision-wrapper p {
    width: 70%;
  }

  /* Detail property Page   */

  .detail-property-wrapper {
    width: 90%;
  }

  .property-image-section {
    flex-direction: column;
  }

  .non-active-images {
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .property-details-section {
    flex-direction: column;
    align-items: center;
  }

  .property-details-section-left {
    width: 80%;
  }

  .property-details-section-right {
    width: 80%;
  }

  .property-details-section-right input {
    width: 70%;
  }

  /* Dashboard   */

  .nav-dashboard-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .sidebar-wrapper {
    display: none;
  }

  .nav-logout {
    display: block;
  }

  .my-profile-main {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .my-profile-main-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .my-profile-additional-details {
    width: 100%;
  }

  .my-profile-main {
    gap: 0;
  }

  .my-profile-additional-details-table {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .my-profile-additional-details-left {
    width: 100%;
    align-items: flex-start;
    gap: 20px;
  }

  .create-listing-wrapper {
    width: 70%;
  }

  .settings-wrapper {
    width: 95%;
  }

  .edit-profile-wrapper {
    width: 95%;
  }

  .change-password-wrapper {
    width: 90%;
  }
  /* Dashboard   */

  .admin-main-display {
    flex-wrap: wrap;
  }

  .admin-box {
    min-width: 40%;
  }

  .charts {
    width: 300px;
    height: 300px;
  }

  .admin-charts {
    gap: 20px;
  }
}


@media (max-width: 770px) {
  .navbar-img {
    width: 150px;
    height: 100%;
  }

  .nav-button-dark,
  .nav-button-login-light,
  .nav-button-signup-light {
    font-size: medium;
    padding: 8px 20px;
  }

  .navlink,
  .navlink-light {
    font-size: 18px;
  }


  .hero-section-heading {
    padding: 0 20px;
  }

  .hero-section-para {
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    padding: 0 20px;
  }

  .hero-section-box {
    width: 95%;
  }

  .slider-container {
    width: 95%;
  }

  .steps-section {
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 50px;
  }

  .steps-section-left {
    width: 60%;
    align-items: flex-start;
  }

  .steps-section-right {
    display: none;
  }

  .numbers-section-wrapper {
    justify-content: space-around;
  }

  .number {
    width: 40%;
    margin-block: 20px;
  }

  .home-info-section-wrapper {
    gap: 50px;
  }

  .home-info-section1 {
    margin-top: 50px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .home-info-section-left1 {
    padding: 30px 0;
    width: 80%;
  }

  .home-info-section-right1 {
    width: 80%;
    height: 500px;
  }

  .home-info-section2 {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }

  .home-info-section-left2 {
    width: 80%;
    padding: 0;
  }

  .home-info-section-right2 {
    width: 80%;
    height: 500px;
  }

  .ss {
    width: 80%;
  }

  .footer-wrapper {
    flex-direction: column;
    gap: 50px;
  }

  .footer-left {
    gap: 0px;
  }

  .profile-img {
    border: 3px solid var(--special-color);
  }

  /* Properties Page   */

  .properties-filter-section-wrapper {
    width: 100%;
  }

  /* Auth   */

  .auth-box,
  .forgot-password-box,
  .signup-box,
  .verify-email-box,
  .update-password-box {
    width: 90%;
  }

  /* Plan   */

  .plan-section-wrapper {
    gap: 20px;
  }

  .pricing-card {
    width: 80%;
  }

  .plan-heading {
    font-size: 65px;
    font-weight: 500;
  }

  /* About Page   */

  .about-benefit-left h1 {
    font-size: 35px;
  }

  .contact-form input {
    width: 90%;
  }

  .contact-form textarea {
    width: 90%;
  }

  /* Detail Property Page   */

  .property-details-section-left {
    width: 100%;
  }

  .property-details-heading h1 {
    font-size: 35px;
  }

  .property-details h3 {
    font-size: 20px;
  }

  .property-details p {
    font-size: 20px;
  }

  .property-details-section-right {
    width: 100%;
  }

  .property-details-section-right input {
    width: 80%;
  }

  .active-image {
    width: 90%;
    height: 450px;
  }

  .seller-details {
    align-items: center;
    width: 100%;
  }

  .seller-info {
    width: 100%;
    flex-direction: column;
  }

  .seller-detail-right {
    text-align: center;
  }

  .filter {
    width: 400px;
  }

  .filter-price {
    flex-direction: column;
  }

  /* Dashboard   */

  .my-profile-wrapper {
    width: 90%;
  }

  .create-listing-wrapper {
    width: 95%;
  }

  .create-listing-wrapper h1 {
    font-size: 30px;
  }

  .settings-wrapper {
    width: 100%;
  }

  .edit-profile-wrapper h1 {
    font-size: 35px;
    font-weight: 500;
  }

  .edit-profile-picture {
    flex-direction: column;
    gap: 10px;
  }

  .edit-profile-picture img {
    margin: auto;
  }

  .edit-profile-details {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .edit-profile-details-column {
    width: 80%;
  }

  .edit-profile-detail-buttons {
    justify-content: center;
  }

  .edit-profile-wrapper h1 {
    font-size: 35px;
  }

  .change-password-wrapper {
    width: 100%;
  }

  .change-password-heading h1 {
    font-size: 35px;
  }

  .change-password-data div {
    width: 80%;
  }

  /* Dashboard   */

  .admin-main-display {
    flex-wrap: wrap;
  }

  .admin-box {
    min-width: 40%;
  }

  .charts {
    width: 300px;
    height: 300px;
  }

  .admin-charts {
    gap: 20px;
  }

}

@media (max-width: 470px) {
  .nav-button-login-light {
    display: none;
  }

  #login {
    display: none;
  }

  .navbar-wrapper {
    height: 70px;
  }

  .navbar-wrapper-light {
    height: 70px;
  }

  .navbar-links {
    top: 70px;
  }

  .navbar-img {
    width: 130px;
  }

  .nav-button-dark {
    padding: 5px 10px;
  }

  .nav-button-signup-light {
    padding: 5px 10px;
  }

  .hero-section-wrapper {
    padding-bottom: 20px;
  }

  .hero-section-heading {
    font-size: 25px;
    font-weight: 500;
  }

  .hero-section-para {
    font-size: 15px;
    line-height: normal;
  }

  .hero-section-box h1 {
    font-size: 20px;
    padding-bottom: 30px;
  }

  .hero-section-box p {
    display: none;
  }

  .steps-section-left {
    width: 100%;
  }

  .step h3 {
    font-size: 20px;
  }

  .number {
    width: 80%;
  }

  .featured-section-heading h1 {
    font-size: 20px;
  }

  .home-info-section-wrapper {
    gap: 0px;
  }

  .home-info-section-left1 {
    width: 90%;
  }

  .home-info-section-left1 h1 {
    font-size: 22px;
  }

  .home-info-section-left1 p {
    font-size: 15px;
  }

  .home-info-section-right1 {
    width: 100%;
    height: 350px;
  }

  .home-info-section-left2 {
    width: 90%;
  }

  .home-info-section-left2 h1 {
    font-size: 22px;
    margin: 0;
  }

  .home-info-section-left2 p {
    font-size: 15px;
  }

  .home-info-section-right2 {
    width: 100%;
    height: 350px;
  }

  .subscription-section-wrapper h1 {
    padding: 0 10px;
    font-size: 35px;
  }

  .profile-img {
    border: 3px solid var(--special-color);
  }

  /* Properties PAge   */

  .properties-filter-section-wrapper {
    width: 100%;
  }

  .properties-filter-section {
    width: 90%;
  }

  .properties-filter-section h2 {
    font-size: medium;
    text-align: center;
  }

  .properties-sort-section h2 {
    font-size: 22px;
  }

  .filter-select {
    font-size: 15px;
    padding: 10px 10px;
  }

  /* Auth  */

  .auth-box,
  .forgot-password-box,
  .signup-box,
  .verify-email-box,
  .update-password-box {
    width: 100%;
  }

  /* Plan  */

  .plan-heading {
    font-size: 40px;
  }

  .pricing-card {
    width: 100%;
  }

  /* About Page  */

  .about-hero-wrapper h1 {
    font-size: 45px;
  }

  .about-vision-wrapper h1 {
    font-size: 35px;
    padding-top: 30px;
  }

  .about-hero-wrapper p {
    width: 90%;
    font-size: 15px;
  }

  .about-vision-wrapper p {
    width: 90%;
    font-size: 15px;
  }

  .about-vision-wrapper img {
    width: 90%;
  }

  .about-benefit-wrapper {
    width: 100%;
  }

  .about-benefit-left h1 {
    font-size: 25px;
    width: 100%;
  }

  .about-benefit-left li {
    font-size: 15px;
    line-height: 30px;
  }

  .contact-form {
    width: 95%;
  }

  .contact-form input {
    width: 90%;
  }

  .contact-form textarea {
    width: 90%;
  }

  /* DetailProperty Page  */

  .active-image {
    width: 100%;
    height: 350px;
  }

  .non-active-images img {
    width: 80px;
    height: 80px;
  }

  .property-details-heading h1 {
    font-size: 25px;
  }

  .property-details h2 {
    font-size: 20px;
  }

  .property-details h3 {
    font-size: 18px;
  }

  .property-details p {
    font-size: 18px;
  }

  .seller-details h1 {
    font-size: 25px;
  }

  .seller-detail-right p {
    width: 90%;
    text-align: center;
  }

  .filter {
    overflow-x: hidden;
    width: 350px;
    padding: 0;
  }

  .filter-heading {
    padding: 0 10px;
  }

  /* Dashboard   */

  .my-profile-plan {
    display: none;
  }

  .my-profile-wrapper {
    width: 100%;
    padding: 10px 0;
  }

  .my-profile-wrapper h1 {
    font-size: 35px;
    font-weight: 500;
  }

  .create-listing-wrapper {
    width: 100%;
    padding: 30px 30px;
  }

  .create-listing-wrapper h1 {
    font-size: 30px;
  }

  .settings-option-left p {
    display: none;
  }

  .edit-profile-details-column {
    width: 90%;
  }

  .edit-profile-wrapper {
    width: 100%;
  }

  .change-password-heading h1 {
    font-size: 30px;
  }

  .change-password-data div {
    width: 100%;
  }

  /* Wishlist   */

  .wishlist-empty {
    font-size: 20px;
  }

  /* Review Section   */ 

  .review-box {
    width: 90%;
  }

  .review-section-card {
    width: 95%;
  }

  /* Dashboard   */

  .admin-box {
    min-width: 80%;
  }

  .charts {
    width: 300px;
    height: 300px;
  }
}
